%section#articles
  - for article in articles[0...4]
    %article.post
      %header
        %h1
          %a{:href => article.path}= article.title
        %span.date= article.date
      %section.content= article.summary
      .more
        %a{:href => "#{article.path}#disqus_thread"}> comments
        \   
        %a{:href => article.path} más »        
%section= archives[4..-1]